@page "/equipmentorders/delete"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IEquipmentOrderService Service

@attribute [Authorize]

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>EquipmentOrder</h2>
    <hr />
    @if (equipmentorder is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">EquipmentId</dt>
            <dd class="col-sm-10">@equipmentorder.EquipmentId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SerialNumberId</dt>
            <dd class="col-sm-10">@equipmentorder.SerialNumberId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateTime</dt>
            <dd class="col-sm-10">@equipmentorder.DateTime</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Number</dt>
            <dd class="col-sm-10">@equipmentorder.Number</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AuthorId</dt>
            <dd class="col-sm-10">@equipmentorder.AuthorId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsAssigned</dt>
            <dd class="col-sm-10">@equipmentorder.IsAssigned</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AssigneeId</dt>
            <dd class="col-sm-10">@equipmentorder.AssigneeId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LocationId</dt>
            <dd class="col-sm-10">@equipmentorder.LocationId</dd>
        </dl>
        <EditForm method="post" Model="equipmentorder" OnValidSubmit="DeleteEquipmentOrder" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(equipmentorder is null)">Delete</button> |
            <a href="/equipmentorders">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private EquipmentOrder? equipmentorder;

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            equipmentorder = await Service.Get(Id);

        if (equipmentorder is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task DeleteEquipmentOrder()
    {
        await Service.Delete(equipmentorder!);

        NavigationManager.NavigateTo("/equipmentorders");
    }
}
