@page "/stockbalances/details"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>StockBalance</h2>
    <hr />
    @if (stockbalance is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">AssetId</dt>
            <dd class="col-sm-10">@stockbalance.AssetId</dd>
            <dt class="col-sm-2">LocationId</dt>
            <dd class="col-sm-10">@stockbalance.LocationId</dd>
            <dt class="col-sm-2">AssigneeId</dt>
            <dd class="col-sm-10">@stockbalance.AssigneeId</dd>
            <dt class="col-sm-2">Balance</dt>
            <dd class="col-sm-10">@stockbalance.Balance</dd>
        </dl>
        <div>
            <a href="@($"/stockbalances/edit?id={stockbalance.Id}")">Edit</a> |
            <a href="@($"/stockbalances")">Back to List</a>
        </div>
    }
</div>

@code {
    private StockBalance? stockbalance;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        stockbalance = await context.StockBalances.FirstOrDefaultAsync(m => m.Id == Id);

        if (stockbalance is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
