@page "/assignturnovers/delete"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>AssignTurnover</h2>
    <hr />
    @if (assignturnover is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateTime</dt>
            <dd class="col-sm-10">@assignturnover.DateTime</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@assignturnover.OrderId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AssetId</dt>
            <dd class="col-sm-10">@assignturnover.AssetId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AssigneeId</dt>
            <dd class="col-sm-10">@assignturnover.AssigneeId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">OpeningBalance</dt>
            <dd class="col-sm-10">@assignturnover.OpeningBalance</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Receipt</dt>
            <dd class="col-sm-10">@assignturnover.Receipt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Expense</dt>
            <dd class="col-sm-10">@assignturnover.Expense</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ClosingBalance</dt>
            <dd class="col-sm-10">@assignturnover.ClosingBalance</dd>
        </dl>
        <EditForm method="post" Model="assignturnover" OnValidSubmit="DeleteAssignTurnover" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(assignturnover is null)">Delete</button> |
            <a href="/assignturnovers">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private AssignTurnover? assignturnover;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        assignturnover = await context.AssignTurnovers.FirstOrDefaultAsync(m => m.Id == Id);

        if (assignturnover is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteAssignTurnover()
    {
        using var context = DbFactory.CreateDbContext();
        context.AssignTurnovers.Remove(assignturnover!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/assignturnovers");
    }
}
