@page "/assignturnovers/details"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>AssignTurnover</h2>
    <hr />
    @if (assignturnover is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateTime</dt>
            <dd class="col-sm-10">@assignturnover.DateTime</dd>
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@assignturnover.OrderId</dd>
            <dt class="col-sm-2">AssetId</dt>
            <dd class="col-sm-10">@assignturnover.AssetId</dd>
            <dt class="col-sm-2">AssigneeId</dt>
            <dd class="col-sm-10">@assignturnover.AssigneeId</dd>
            <dt class="col-sm-2">OpeningBalance</dt>
            <dd class="col-sm-10">@assignturnover.OpeningBalance</dd>
            <dt class="col-sm-2">Receipt</dt>
            <dd class="col-sm-10">@assignturnover.Receipt</dd>
            <dt class="col-sm-2">Expense</dt>
            <dd class="col-sm-10">@assignturnover.Expense</dd>
            <dt class="col-sm-2">ClosingBalance</dt>
            <dd class="col-sm-10">@assignturnover.ClosingBalance</dd>
        </dl>
        <div>
            <a href="@($"/assignturnovers/edit?id={assignturnover.Id}")">Edit</a> |
            <a href="@($"/assignturnovers")">Back to List</a>
        </div>
    }
</div>

@code {
    private AssignTurnover? assignturnover;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        assignturnover = await context.AssignTurnovers.FirstOrDefaultAsync(m => m.Id == Id);

        if (assignturnover is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
