@page "/orderitems/details"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>OrderItem</h2>
    <hr />
    @if (orderitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@orderitem.OrderId</dd>
            <dt class="col-sm-2">AssetId</dt>
            <dd class="col-sm-10">@orderitem.AssetId</dd>
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@orderitem.Amount</dd>
        </dl>
        <div>
            <a href="@($"/orderitems/edit?id={orderitem.Id}")">Edit</a> |
            <a href="@($"/orderitems")">Back to List</a>
        </div>
    }
</div>

@code {
    private OrderItem? orderitem;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        orderitem = await context.OrderItems.FirstOrDefaultAsync(m => m.Id == Id);

        if (orderitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
