@page "/orders/details"
@using Inventory.Application
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IOrderService Service

@attribute [Authorize]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Order</h2>
    <hr />
    @if (order is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateTime</dt>
            <dd class="col-sm-10">@order.DateTime</dd>
            <dt class="col-sm-2">Number</dt>
            <dd class="col-sm-10">@order.Number</dd>
            <dt class="col-sm-2">AuthorId</dt>
            <dd class="col-sm-10">@order.AuthorId</dd>
            <dt class="col-sm-2">IsAssigned</dt>
            <dd class="col-sm-10">@order.IsAssigned</dd>
            <dt class="col-sm-2">AssigneeId</dt>
            <dd class="col-sm-10">@order.AssigneeId</dd>
            <dt class="col-sm-2">LocationId</dt>
            <dd class="col-sm-10">@order.LocationId</dd>
        </dl>
        <div>
            <a href="@($"/orders/edit?id={order.Id}")">Edit</a> |
            <a href="@($"/orders")">Back to List</a>
        </div>
    }
</div>

@code {
    private Order? order;

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            order = await Service.Get(Id);

        if (order is null)
            NavigationManager.NavigateTo("notfound");
    }
}
