@page "/equipment/details"
@using Microsoft.EntityFrameworkCore
@using Inventory.Domain
@inject IDbContextFactory<Inventory.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Equipment</h2>
    <hr />
    @if (equipment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@equipment.Name</dd>
            <dt class="col-sm-2">IsFolder</dt>
            <dd class="col-sm-10">@equipment.IsFolder</dd>
            <dt class="col-sm-2">ParentId</dt>
            <dd class="col-sm-10">@equipment.ParentId</dd>
        </dl>
        <div>
            <a href="@($"/equipment/edit?id={equipment.Id}")">Edit</a> |
            <a href="@($"/equipment")">Back to List</a>
        </div>
    }
</div>

@code {
    private Equipment? equipment;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        equipment = await context.Equipments.FirstOrDefaultAsync(m => m.Id == Id);

        if (equipment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
