@page "/equipment/details"
@using Inventory.Application
@using Inventory.Components.ComponentAppFile
@using Inventory.Domain
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject IEquipmentService Service

@attribute [Authorize(Roles = "Manager")]

<PageTitle>Детали</PageTitle>

<h1>Детали</h1>

<div>
    <h2>Оборудование</h2>
    <hr />
    @if (equipment is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-md-2">Наименование</dt>
            <dd class="col-md-10">@equipment.Name</dd>
            <dt class="col-md-2">Это Папка</dt>
            <dd class="col-md-10">@equipment.IsFolder</dd>
            <dt class="col-md-2">В Папке</dt>
            <dd class="col-md-10">@equipment.Parent?.Name</dd>
        </dl>
        <div class="row">
            <div class="col-md-4">
                <GetImages Id="@equipment.Id" />
            </div>
        </div>
        <div>
            <a href="@($"/equipment/edit?id={equipment.Id}")">Изменить</a> |
            <a href="@($"/equipment/tree")">Назад к Списку</a>
        </div>
    }
</div>

@code {
    private Equipment? equipment;

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
            equipment = await Service.Get(Id, true);

        if (equipment is null)
            NavigationManager.NavigateTo("notfound");
    }
}
